{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    ["inline-import", {
      "extensions": [
        ".gql",
        ".graphql"
      ]
    }]
  ]
}